[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
mysqlclient = "*"
requests = "*"
psycopg2 = "*"
pytest = "*"
pytest-django = "*"
coverage = "*"
selenium = "*"
model-bakery = "*"
pprint = "*"
flake8 = "*"

[requires]
python_version = "3.7"
